.navbar-color {
	    background-color: #0D0E40 !important;
}

.navbar-pissed{
  	font-family: Futura !important;
  	&:visited{
  		color: #fff;
  	}
  	&:hover {
    color: #007bff;
    background-color: #white;
  	text-decoration: none;
    
  }
}
.navbar-expand-md .navbar-collap{
	display: flex !important;
    flex-basis: auto;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-family: Futura;
	&:active{
  		color: #fff;
  	}
  	&:hover {
    color: #007bff;
    background-color: #white;
  	text-decoration: none;
    
  }
}

