body {
  padding-top: 5rem;
   margin: 0;
    font-family: Futura !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  margin-top: -30px;
  padding-top: 35px;
  }

.login{
    padding: 3rem 1.5rem;
    text-align: center;
    margin-top: 30px;
    margin-left: 400px;
    padding-top: 35px;
    background: white;
    border-radius: 20px;
    width: 350px;
    height: 380px;
}

.rect{

}
.rect2{
  background: white; 
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
  width: 900px;
  height: 500px;
  border-radius: 10px;
}

.postshow{
  background: rgba(255,255,255, 1); 
  text-align: center;
  margin-left: 50px;
  width: 900px;
  height: 600px;
  margin-top: 0px;
  
}


.postindex {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 3%;
    margin-bottom: 10%;
    border-radius: 0.5rem;
    background: #fff;
}
