<div class = "login" style ="height: 400px; width: 500px; margin-left: 300px;">
<h1> Editing the information</h1>
<p> of  <%= @user.name%> </p>
<%= render 'form', user: @user %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>








