<div class = "login" style ="height: 300px;
    width: 600px;
    margin-left: 220px;">
    <h3> New Geofence </h3>

<%= render 'form', geofence: @geofence %>

<%= link_to 'Back', geofences_path %>

</div>