<!DOCTYPE html>
<section class="row-section">
    <div class="container">
      <div class="row">
        <h2 class="text-center"><span>Post's Page</span></h2>
      </div>
      <div class="col-md-10 offset-md-1 row-block">
          <ul id="sortable">
              <li><div class="media">
              <div class="media-left align-self-center">
                  <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/50.jpg">
              </div>
              <div class="media-body">
                  <h4>User</h4>
                  <p>Post description</p>
              </div>
              <div class="media-right align-self-center">
                  <a href="#" class="btn btn-default">View Post</a>
              </div>
          </div></li>
              <li><div class="media">
              <div class="media-left align-self-center">
                  <img class="rounded-circle" src="https://randomuser.me/api/portraits/men/42.jpg">
              </div>
              <div class="media-body">
                  <h4>User</h4>
                  <p>Post Description</p>
              </div>
              <div class="media-right align-self-center">
                  <a href="#" class="btn btn-default">View Post</a>
              </div>
          </div></li>
              <li><div class="media">
              <div class="media-left align-self-center">
                  <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/67.jpg">
              </div>
              <div class="media-body">
                  <h4>User</h4>
                  <p>Post Description</p>
              </div>
              <div class="media-right align-self-center">
                  <a href="#" class="btn btn-default">View Post</a>
              </div>
          </div></li>
              <li><div class="media">
              <div class="media-left align-self-center">
                  <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/50.jpg">
              </div>
              <div class="media-body">
                  <h4>User</h4>
                  <p>Post Description</p>
              </div>
              <div class="media-right align-self-center">
                  <a href="#" class="btn btn-default">View Post</a>
              </div>
              
          </div></li>
          
              
          
          </ul>
      </div>
</div>
</section>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
  </script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>