<div class = "rect" style="border-radius: 5px;">

<div class = "rect2">
	<div class = "row">
		<div class = "col-md-4">
			<img src="/logopissed.png" width="400" height="300" style="margin-left: 20px; margin-top: 60px;" />
		</div>
		<div class = "col-md-6">
			<h4 style="margin-top:  90px; padding-left: 120px;  margin-left: 30px; text-align:justify;">Welcome to our website, our dream is to create a better city and we need your help, so share with us all the complaints about what is happening. And we promise to improve the city you love. Together we are better! </h4>
		</div>
	</div>
	</div>
</div>



  